.navbar 
{
	border: 0px;
	background-color: #233143;
	position: absolute;
	top: 100.5%;
	right: 5%;
	width: 110px;
	z-index: 999;
}
.navbar .navbar-collapse
{
	padding: 0px;
	max-height: none;
}
.navbar .navbar-nav
{
	float: none;
}
.navbar-nav
{
	margin: 0px;
}
.navbar .nav > li
{
	display: block;
	float: none;
	height: 80px;
} 
.navbar .nav > li a
{
	display: block;
	height: 80px;
	text-align: center;
	padding-top: 30px;
	font-weight: 600;
	color: #FFFFFF;
}
.navbar .nav > li a:hover, .navbar .nav > li a:focus
{
	background:#2D395D;
	color: white;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus
{
	background: #2D395D;
	color: #FFFFFF;
}
.navbar-default .navbar-toggle:hover .icon-bar,
.navbar-default .navbar-toggle:focus .icon-bar
{
	background: #2D395D;
}
.fixed .navbar
{
	position: fixed;
	top: 60px;
}
@media (max-width: 1200px)
{ 
	#interests .interest-content
	{
		padding: 20px 0px;
	}
}
@media (max-width: 767px)
{ 
	.jumbotron:before
	{
		bottom: 100px;
		left: 20px;
		right: 20px;
		top: 20px;		
	}
	.jumbotron .container { top: 20%; padding-top: 0px; }
	.jumbotron .scroll-down { width: 100%; right: 0px; }
	.navbar  { left: 0px; width: 100%; }
	.navbar .nav > li { height: 60px; }
	.navbar .nav > li a { height: 60px; text-align: center; padding-top: 20px; font-weight: 600; color: #FFFFFF; }
	
	.fixed .navbar { top: 0px; }
	
	.container { padding: 60px 20px; min-width: 280px; }
	.hidden-phone { display: none; }
	
	#profile .row * { text-align: center; }
	
	#experiences .experience .experience-details > span { display: block; margin-bottom: 6px; }
	#experiences .experience .experience-details .seperator { display: none; }
	
	#interests .left { float: none; }
	#interests .right { float: none; }
	
	#interests > * { text-align: center; }
	#interests img { width: 50%; height: auto; float: none !important; } 
	#interests .interest-content { padding: 20px 0px; }
	
	#contact { padding-bottom: 60px; }
	#contact a .icon { float: left; margin-right: 10px; }
}    

@media only screen and (orientation: portrait) and (max-width: 767px)
{
    .jumbotron
    {
      -webkit-background-size: auto 150%;
      background-attachment: scroll;
    }
}
@media only screen and (orientation: landscape) and (max-width: 767px)
{

    .jumbotron
    {
      -webkit-background-size: 150% auto;
      background-attachment: scroll;
    }
	
	.jumbotron .lead
	{
		display: none;
	}
}
@keyframes wiggle
{
	0%
	{
		padding-top: 20px;
	}

	50%
	{
		padding-top: 28px;
	}

	100%
	{
		padding-top: 20px;
	}
}
figure.effect
{
	background: #22A39F;
	color: #FFF;
}

figure.effect img
{
	width: -webkit-calc(100% + 20px);
	width: calc(100% + 20px);
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(-10px,0,0);
	transform: translate3d(-10px,0,0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
figure.effect:hover img
{
	opacity: 0.2;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}
figure.effect figcaption
{
	text-align: left;
}
figure.effect h3
{
	position: relative;
	overflow: hidden;
	padding-bottom: 20px;
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
}
figure.effect:hover h3
{
	opacity: 1;
}

figure.effect h3::after
{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 2px;
	background: #fff;
	content: '';
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(-100%,0,0);
	transform: translate3d(-100%,0,0);
}
figure.effect:hover h3::after
{
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}
figure.effect p
{
	padding-top: 10px;
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(100%,0,0);
	transform: translate3d(100%,0,0);
}
figure.effect:hover p
{
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}
/******************************************************************************************************************************************/
html, body
{
	
	font-family: 'Open Sans' !important;
	height: 100%;
}
body
{
	line-height: 1.64;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, strong, b
{
	font-family: 'Open Sans' !important;
	margin-bottom: 20px;
}
h1,h4
{
	font-weight: 700;
	margin-bottom: 10px;
}
h2,h3
{	
	font-weight: 300;
}
h2
{
	font-size: 54px;
	text-align: center;
}
.expe
{
	background: #D0D2E6;
}
h3
{
	font-size: 28px;
}
p.lead
{
	text-align: center;
	color: #727878;
}
ul.no-bullets
{
	list-style-type: none;
	margin: 0px; padding: 0px;
}
.home hr
{
	margin: 20px 250px;
	border-color: #727878;
	opacity: 0.2;
	filter:alpha(opacity=20);
	width: 320px;
}
hr
{
	margin: 20px 0px;
	border-color: #727878;
	opacity: 0.5;
	filter:alpha(opacity=20);
}
.project-referal
{
	margin-top: 40px;
}
.project-referal p
{
	font-style: italic;
	color: #999999;
}
.background-white
{
	background: #FFFF;
}
.container
{
	max-width: 1280px;
	padding: 40px 180px;
}
#profile .row > div
{
	margin-bottom: 20px;
}
#profile .row > div img
{
	width: 100%;
	max-width: 246px;
	height: auto;
}

#projects .row > div
{
	margin-bottom: 30px;
}
#projects figure
{
	position: relative;
	overflow: hidden;
}
#projects figure h3
{
	color: #FFF;
	font-weight: 600; margin-bottom: 5px;
}
#projects > .line
{
	margin-left: 250px;
}
#projects figure p > strong
{
	width: 60px;
	display: inline-block;
	margin: 0px;
}
#projects figure img
{
	width: 110%;
}
#projects figure figcaption
{
    padding: 20px 30px;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
}
#projects figure a {
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
}
#contact
{
	padding-bottom: 200px;
}
#contact h2, #contact .row *
{
	color: #FFFFFF;
}
@media (max-width: 1200px)
{ 
	#interests .interest-content { padding: 20px 0px; }
}
@media (max-width: 767px)
{ 
.jumbotron:before
{
	bottom: 100px;
	left: 20px;
	right: 20px;
	top: 20px;		
}
.container
{
	padding: 60px 20px; min-width: 280px;
}
.hidden-phone
{
	display: none;
}
#profile .row *
{
	text-align: center;
}
#experiences .experience .experience-details > span
{
	display: block;
	margin-bottom: 6px;
}
#experiences .experience .experience-details .seperator
{
	display: none;
}
#interests .left
{
	float: none;
}
#interests .right
{
	float: none;
}
#interests > *
{
	text-align: center;
}
#interests img
{
	width: 50%;
	height: auto;
	float: none !important;
} 
#interests .interest-content
{
	padding: 20px 0px;
}
#contact
{
	padding-bottom: 60px;
}
#contact a .icon
{
	float: left;
	margin-right: 10px;
}
}    
@media only screen and (orientation: portrait) and (max-width: 767px)
{
    .jumbotron
    {
      -webkit-background-size: auto 150%;
      background-attachment: scroll;
    }
}
@media only screen and (orientation: landscape) and (max-width: 767px) 
{
    .jumbotron
    {
      -webkit-background-size: 150% auto;
      background-attachment: scroll;
    }
	.jumbotron .lead
	{
		display: none;
	}
}
@keyframes wiggle {
	0% {
		padding-top: 20px;
	}

	50% {
		padding-top: 28px;
	}

	100% {
		padding-top: 20px;
	}
}
/******************************************** Styles ********************************************************/
*
{
	width: 100%
	line-height: 1.6;
}
/****************************************************** HOME ***************************************************/
.home
{
	text-align: center;
	font-weight: 600;
	background: #EBECED;
}
.spe
{
	text-align: center;
	max-height: 262px;
	background:#EBECED;
}
.home .row
{
	text-align: center;
	margin-top: 180px;
}
.spe a
{
	color: black; 
}
.spe a:activated
{
	color: black;
}
.container h3
{
	font-weight: 600;
	font-size: 24px;
	line-height: 22px;
}
.semi-circle
{
  margin-top:220px;
  margin-left: 100px;
  display: inline-block;
  transform: translate(-40%, -40%); 
  height:70px;
  width: 140px; 
  border-radius: 100px 100px 0 0; 
  background-color: #DDDDDD;

}
.spec p
{
	border-right: 1px solid gray;
	padding-right: 10px;
	padding-left: 10px;
	font-weight: normal;
	font-size: 14px;
	line-height: 19px;
}
/******************************************************* PROFILE ****************************************/
 #profile .row img
{
	margin-top: 40px;
	max-width: 50%;
  padding-top: 10px;
  height: auto;
  border-radius: 50%;
}
#profile >.row > img
{
	text-align: center;
}
#profile hr ,#abilities hr
{
	margin-left: 150px;
}
/******************************************************************* EXPERIENCES **********************************************/ 
.list , .in-list
{
	list-style: none;

}
.list >li:nth-child(1):before
{
	content: "\2015 \0020";
	color :black;
}
.list >li:before
{
	content: "\2015 \0020";
	color: #D0D2E6;
}
.in-list >li:nth-child(n):before
{
	content: "\2015 \0020";
	color :black;	
}
.in-list >li
{
	padding-bottom: 10px;
}
#experiences >hr
{
	width: 500px;
	margin-left: 150px;
}
 #abilities >.row >div> img
{
	height: 90px;
	margin-left: 10px;
}
#experiences h3
{
	line-height: 30px;
	font-size: 22px;	
}
#experiences b
{
	font-size: 16px;
	font-weight: 600;
	line-height: 22px;
}
#experiences > .row
{
	padding-bottom: 55px;
}
#experiences >.row2 >ul
{
	padding-bottom: 32px;

}
#experiences ol, ul
{
	line-height: 1.5;
}
.in-list
{
	padding-left: 20px;
	padding-top: 15px;
}
/****************************************************** ABILITIES ****************************************************/
hr
{
	width: 500px;
	margin-left: 150px;
	
}

/****************************************************** PROJECTS *****************************************************/
.col1
{
	font-size: 12px;
	text-align: center;
	border-radius: 14px;
}
.col1:hover
{
  	background: #FFFFFF;
	box-shadow: 0px 16px 24px -10px rgba(0, 0, 0, 0.25);
}
.col1 ul
{
	list-style: none;
	text-align: left;
}
.col1 >img
{
	margin-top: 15px;
	margin-bottom: 10px;

}
.col1 >ul >li
{
	font-size: 12px;
	line-height: 2;
}
.col1 >ul >li:before
{
	padding-right:8px;
	content: "\2015";
}
.col1 h3
{
	font-size: 14px;
}
.col1
{ 
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
}
#contact .col1
{
	border-right: 1px solid white;
}
/************************************************ CONTACT **********************************************/
#contact .row
{
	font-size: 18px;
	line-height: 25px;
}
#contact hr
{
	text-align: center;
	width: 300px;
	margin-left: 0px;
}
#contact > .row > hr
{
	color: green;
	margin-left: 0px;
}
#contact
{
	color: white;
}
table
{
	margin-top:37px;
}
td, th
{
  padding-left: 20px;
  text-align: left;
  padding: 10px;
  padding-right: 40px;
}
.expe1
{
	background: #2D395D;
}
#projects >.row 
{
	margin-top: 50px;
}
/************************************** NAV ***************************************************/

.sidenav
{
  max-height: none;
  text-align: center;
  width: 120px;
  height: auto;
  z-index: 1;
  right: 80px;
  background: #233143;
  overflow-x: hidden;
  padding: 30px 15px 15px 15px;
}

.sidenav a {
  padding: 30px 10px 15px 10px;
  text-decoration: none;
  height: 20px
  font-size: 12px;
  font-weight: 600;
  color: white;
  display: block;
}

.sidenav a:hover
{
	background:#2D395D;
  color:white;
}
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/*************************************** FOOTER *********************************************/
.foot
{
	text-align: center;
	color: white;
}
.foot hr
{
	margin-left: 444px;
	width: 611px;
	margin-bottom: 0px;
}
.foot p
{
	padding: 21px;
}
/**************************************** LINE *****************************************************/
.line
{
	margin-bottom: 50px;
	text-align: center;
	width: 300px;
	border-bottom: 1px solid gray;
}
#abilities > .line
{
	margin-left: 250px;
}
#experiences >.line
{
	margin-left: 225px;
	width: 350px;
}
#profile > .line
{
	margin-left: 250px;
}
