.navbar 
{
	border: 0px;
	background-color: #233143;
	position: absolute;
	top: 110vh;
	right: 5%;
	width: 110px;
	z-index: 999;
}
.navbar .navbar-collapse
{
	padding: 0px;
	max-height: none;
}
.navbar .navbar-nav
{
	float: none;
}
.navbar-nav
{
	margin: 0px;
}
.navbar .nav > li
{
	display: block;
	float: none;
	height: 80px;
} 
.navbar .nav > li a
{
	display: block;
	height: 80px;
	text-align: center;
	padding-top: 30px;
	font-weight: 600;
	color: #FFFFFF;
}
.navbar .nav > li a:hover, .navbar .nav > li a:focus
{
	background:#2D395D;
	color: white;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus
{
	background: #2D395D;
	color: #FFFFFF;

}
.navbar-default .navbar-toggle:hover .icon-bar,
.navbar-default .navbar-toggle:focus .icon-bar
{
	background: #2D395D;
}
.fixed .navbar
{
	position: fixed;
	top: 60px;

}
/******************************************************************************************************************************************/
html, body
{
	font-family: 'Open Sans', sans-serif;
	font-family: 'Open Sans' !important;
	height: 100%;
}
body
{
	line-height: 1.64;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, strong, b
{
	font-family: 'Open Sans' !important;
	margin-bottom: 20px;
}
h1,h4
{
	font-weight: 700;
	margin-bottom: 10px;
}
h2,h3
{	
	font-weight: 300;
}
h2
{
	font-size: 54px;
	text-align: center;
}
.expe
{
	background: #D0D2E6;
}
h3
{
	font-size: 28px;
}
p.lead
{
	text-align: center;
	color: #727878;
}
ul.no-bullets
{
	list-style-type: none;
	margin: 0px; padding: 0px;
}
.project-referal
{
	margin-top: 40px;
}
.project-referal p
{
	font-style: italic;
	color: #999999;
}
.background-white
{
	background: #FFFF;
}
.container
{
	max-width: 1280px;
	padding: 40px 180px;
}
#profile .row > div
{
	margin-bottom: 20px;
}
#profile .row > div img
{
	width: 100%;
	max-width: 246px;
	height: auto;
}

#projects .row > div
{
	margin-bottom: 30px;
}
/******************************************** Styles ********************************************************/
*
{
	width: 100%
	line-height: 1.6;
}
/****************************************************** HOME ***************************************************/
.home
{
	display: flex;
	text-align:  center;
	flex-direction: column;
	justify-content: center;
	font-weight: 600;
	height: 100vh;
	min-height: 600px;
	position: relative;
	background: #EBECED;
}
.home >.semi-circle
{
  height:70px;
  width: 140px; 
  border-radius: 100px 100px 0 0; 
  background-color: #DDDDDD;
  position: absolute;
  bottom: 0;
  left: calc(50% - 70px);
}
.semi-circle a
{
	color: black;
}
.semi-circle a:activated
{
	color: black;
}
.spec p
{
	border-right: 1px solid gray;
	padding-right: 10px;
	padding-left: 10px;
	font-weight: normal;
	font-size: 14px;
	line-height: 19px;
}
/******************************************************* PROFILE ****************************************/
#profile .row img
{
	margin-top: 40px;
	max-width: 50%;
  padding-top: 10px;
  height: auto;
  border-radius: 50%;
}
#profile >.row > img
{
	text-align: center;
}
#profile hr ,#abilities hr
{
	margin-left: 150px;
}
#profile .btn
{
	background-color: #233143;
	color: white;
}
#profile .btn a
{
	text-decoration: none;
	color: white;
}
#profile .btn a:activated
{
	color: white;
}
.professionalAccolades >ul >li:nth-child(n):before
{
	content: "\2015";
	padding-right: 10px;
}
.professionalAccolades >ul >li
{
	list-style: none;
	padding-bottom: 15px;
}
/******************************************************************* EXPERIENCES **********************************************/ 
.list , .in-list
{
	list-style: none;

}
#experiences .in-list>li
{
	margin-bottom: 20px;
}
#experiences .list >li:nth-child(1):before
{
	content: "\2015";
	color :black;
	position: absolute;
	margin-left: -20px;
	padding-right: 10px;
}
#experiences .in-list >li:before
{
	content: "\2015";
	color:black;
	position: absolute;
	margin-left: -20px;
	padding-right: 10px;
}
#experiences >.list >li
{
	padding-left: 10px;
}
#experiences >hr
{
	width: 500px;
	margin-left: 150px;
}
 #abilities >.row >div> img
{
	height: 90px;
	margin-left: 10px;
}
#experiences h3
{
	line-height: 30px;
	font-size: 22px;	
}
#experiences b
{
	font-size: 16px;
	font-weight: 600;
	line-height: 22px;
}
#experiences > .row
{
	padding-bottom: 55px;
}
#experiences >.row2 >ul
{
	padding-bottom: 32px;

}
#experiences ol, ul
{
	line-height: 1.5;
}
.in-list
{
	padding-left: 20px;
	padding-top: 15px;
}
/****************************************************** ABILITIES ****************************************************/
hr
{
	width: 500px;
	margin-left: 150px;
	
}
.a_list >li
{
	list-style: none;
	margin-bottom: 10px;
}
.a_list >li:before
{
	content: "\2015";
	position: absolute;
	margin-left: -20px; 
	margin-bottom: 20px;
}
#abilities .list
{
	padding-bottom: 20px;
}
#abilities .list >li:nth-child(1):before
{
	content: "\2015";
	color :black;
	position: absolute;
	margin-left: -20px;
	padding-right: 10px;
}
/****************************************************** PROJECTS *****************************************************/
.col1
{
	font-size: 12px;
	text-align: center;
	border-radius: 14px;
}
.col1:hover
{
  	background: #FFFFFF;
	box-shadow: 0px 16px 24px -10px rgba(0, 0, 0, 0.25);
}
.col1 ul
{
	list-style: none;
	text-align: left;
}
.col1 >img
{
	margin-top: 15px;
	margin-bottom: 10px;

}
.col1 >ul >li
{
	font-size: 12px;
	line-height: 2;
}
.col1 >ul >li:before
{
	padding-right:8px;
	content: "\2015";
}
.col1 h3
{
	font-size: 14px;
}
.col1
{ 
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
}
#contact .col1
{
	border-right: 1px solid white;
}
/************************************************ CONTACT **********************************************/
#contact .row
{
	font-size: 18px;
	line-height: 25px;
}
#contact hr
{
	text-align: center;
	width: 300px;
	margin-left: 0px;
}
#contact > .row > hr
{
	color: green;
	margin-left: 0px;
}
#contact
{
	height: 50vh;
	color: white;	
}
#contact a
{
	text-decoration: none;
	color: white;
}
#contact a:active
{
	color: white;
}
#contact a:visited
{
	color: white;
}
table
{
	margin-top:37px;
}
td, th
{
  padding-left: 20px;
  text-align: left;
  padding: 10px;
  padding-right: 40px;
}
.expe1
{
	background: #2D395D;
}
#projects >.row 
{
	margin-top: 50px;
}
/************************************** NAV ***************************************************/

/*************************************** FOOTER *********************************************/
.foot
{
	text-align: center;
	color: white;
 	background: #2D395D;
 	margin: 0px;
 	padding: 0px;

}
.foot table
{
	margin-bottom: 20px;
}
.foot p
{
	padding: 21px;
}
/**************************************** LINE *****************************************************/
.line
{
	margin-bottom: 40px;
	text-align: center;
	width: 300px;
	border-bottom: 1px solid gray;
	margin-left: auto;
	margin-right: auto;
}
.home .line
{
	margin-bottom: 0px;
	margin-top: 25px;
}
.foot .line
{
	margin-top: 40px;
	width: 700px;
	margin-bottom: 0px;
}

@media (max-width: 532px)
{ 
	.jumbotron:before
	{
		bottom: 100px;
		left: 20px;
		right: 20px;
		top: 20px;		
	}
	.jumbotron .scroll-down
	{
		width: 100%;
		right: 0px;
	}
	.navbar
	{
		left: 0px;
		width: 100%;
	}
	.navbar .nav > li
	{
		height: 60px;
	}
	.navbar .nav > li a
	{
		height: 60px;
		text-align: center;
		padding-top: 20px;
		font-weight: 600;
		color: #FFFFFF;
	}
	.fixed .navbar
	{
		top: 0px;
	}
	.container
	{padding: 60px 20px; min-width: 280px; }
	.hidden-phone { display: none; }
	#profile .row * { text-align: center; }
	#experiences .experience .experience-details > span { display: block; margin-bottom: 6px; }
	#experiences .experience .experience-details .seperator { display: none; }
	#contact { padding-bottom: 60px; }
	#contact a .icon { float: left; margin-right: 10px; }
	.foot {}
}  
@media only screen and (orientation: portrait) and (max-width: 767px)  {
    .jumbotron {
      -webkit-background-size: auto 150%;
      background-attachment: scroll;
    }
}
@media only screen and (orientation: landscape) and (max-width: 767px)  {

    .jumbotron {
      -webkit-background-size: 150% auto;
      background-attachment: scroll;
    }
	
	.jumbotron .lead { display: none; }
}

@keyframes wiggle {
	0% {
		padding-top: 20px;
	}

	50% {
		padding-top: 28px;
	}

	100% {
		padding-top: 20px;
	}
}
